@page
@{
    ViewData["Title"] = "Política de Privacidade da SkinZone";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }

    h2 {
        border-bottom: 2px solid #343a40;
        padding-bottom: 10px;
        margin-top: 30px;
    }

    p {
        margin-bottom: 25px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>A SkinZone valoriza a privacidade dos nossos clientes e se compromete a proteger as informações pessoais coletadas durante sua interação com nosso site. Esta Política de Privacidade descreve como coletamos, usamos e protegemos seus dados. Ao utilizar nossos serviços, você concorda com as práticas aqui descritas.</p>

<h2>Coleta de Informações Pessoais</h2>
<p>Coletamos informações pessoais, como nome, endereço de e-mail e informações de contato, quando você se registra em nossa plataforma ou realiza uma compra de skins de CS2.</p>

<h2>Uso de Informações Pessoais</h2>
<p>As informações pessoais coletadas são usadas para processar pedidos, fornecer suporte ao cliente e melhorar nossos serviços. Garantimos que suas informações serão utilizadas apenas para os fins previamente consentidos por você.</p>

<h2>Compartilhamento de Informações</h2>
<p>Não compartilhamos suas informações pessoais com terceiros, a menos que seja estritamente necessário para processar transações ou cumprir obrigações legais.</p>

<h2>Proteção de Dados</h2>
<p>Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado e uso indevido.</p>

<h2>Seus Direitos</h2>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Entre em contato conosco para exercer esses direitos ou se tiver alguma dúvida sobre nossa política de privacidade.</p>

<h2>Alterações na Política de Privacidade</h2>
<p>
    Esta Política de Privacidade pode ser atualizada periodicamente. Quaisquer alterações serão refletidas nesta página.<br />
    A privacidade e a segurança dos seus dados são importantes para a SkinZone. Agradecemos por escolher nossa empresa e estamos comprometidos em manter suas informações protegidas.</p>
