@page

@{
    ViewData["Title"] = "SkinZone";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }

    h2 {
        border-bottom: 2px solid #343a40;
        padding-bottom: 10px;
        margin-top: 30px;
    }

    p {
        margin-bottom: 25px;
    }

    li{
        margin-bottom: 20px;
    }

    h6{
        margin-bottom: 20px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<h2>O Seu Destino Para Skins Exclusivas de CS2!</h2>
<p>
    Na SkinZone, somos apaixonados por tornar sua experiência no Counter Strike 2 (CS2) ainda mais emocionante e personalizada.<br />
    Nosso compromisso é fornecer a você as skins mais incríveis e desejadas para aprimorar o seu jogo.
</p>

<h4>Por que escolher a SkinZone?</h4>
<ul>
    <li>Variedade Inigualável: Nossa coleção de skins é uma verdadeira zona de diversidade. Desde skins clássicas até criações exclusivas, temos algo para atender a todos os gostos.</li>
    <li>Qualidade Garantida: Todas as nossas skins são autênticas e de alta qualidade. Cada skin foi cuidadosamente selecionada para garantir que você receba o melhor.</li>
    <li>Atendimento ao Cliente de Primeira Classe: Nossa equipe dedicada está à disposição para ajudá-lo a encontrar as skins perfeitas e responder a todas as suas dúvidas. Sua satisfação é a nossa prioridade.</li>
    <li>Preços Competitivos: Na SkinZone, acreditamos que skins incríveis não precisam custar uma fortuna. Oferecemos preços competitivos para que você possa personalizar seu jogo sem esvaziar sua carteira.</li>
</ul>


<h6>Explore nossa ampla seleção de skins de CS2 e descubra como a SkinZone pode elevar sua experiência de jogo a um novo patamar. Junte-se a nós e faça parte da comunidade de jogadores que sabe onde encontrar as skins mais incríveis!</h6>
<h6>Estamos ansiosos para ajudá-lo a encontrar as skins perfeitas. Vá em frente e mergulhe na SkinZone hoje mesmo!</h6>